<%= link_to "Home", "/" %>


<h1><%= @Students.first_name %> </h1>
<h1><%= @Students.last_name %> </h1>
<h2><%= @Students.capstone.name %> </h2>
<h2><%= @Students.capstone.description %></h2> 
<img src="<%= #Student.capstone.screenshot.url %>" style="width:180px;height:228px;">