<%= link_to "Home", "/" %>


<h1><%= @Student.first_name %> </h1>
<h1><%= @Student.last_name %> </h1>
<h2><%= @Student.capstones.first.name %> </h2>
<h2><%= @Student.capstones.first.description %></h2> 
<!-- <img src="<%= #Student.capstone.screenshot.url %>" style="width:180px;height:228px;"> -->